* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
}

.App {
  text-align: center;
  background-color: #fff;
  color: #333;
  min-height: 100vh;
}

.perPage {
  width: 75px;
  margin: auto;
}

.container {
  margin: 0 auto;
  padding: 20px 0;
}

.modal-body {
  color: #000;
}

.card {
  max-width: 40rem;
}

.logo {
  margin: 0;
  height: 4.5rem;
}

.team-logo {
  width: 2.5rem;
}

.loading {
  margin-left: 1rem;
  font-size: 1.8rem;
}

/* .stats-table,
td,
th {
  margin: auto;
  border: 1px solid #000;
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 0.4rem 0.8rem;
} */
