* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
}

html,
body {
  height: 100%;
}

.App {
  text-align: center;
  background-color: #fff;
  color: #333;
  min-height: 100vh;
}

.perPage {
  width: 75px;
  margin: auto;
}

.modal-body {
  color: #000;
}

.card {
  margin: 1rem 0;
}

.single-score {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.single-record {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.logo {
  margin: 0;
  height: 4.5rem;
}

.btn {
  margin: 1rem 0;
}

.team-logo {
  width: 2.5rem;
}

.loading {
  margin-left: 1rem;
  font-size: 1.8rem;
}
